<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="oi oi-caret-right"></i>
	                            <span>Cadastrar Funcionários</span>
	                        </li>
	                    </ul>
	                </div>
	                <a class="btn btn-primary btn-md" href="/funcionarios/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                    <span>Listar Funcionários</span>
	                </a>
	            </nav>
	        </div>
	
	        <div class="container" id="cadastro">
	            <form th:action="@{/funcionarios/alterar}" method="POST" th:object="${funcionario}">
	             <input type="hidden" th:field="*{id}">
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Nome do Funcionário</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
	                               autofocus="autofocus" th:field="*{nome}"/>
	                     
								<div style="margin-top: 5px" class="alert alert-danger" role="alert"th:if="${#fields.hasErrors('nome')}">
									<label th:errors="*{nome}" class="validation-messege"></label>
								</div>
	                       
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="salario">Salário Bruto</label>
	                        <input type="text" class="form-control" id="salario" data-mask="#.##0,00"
	                               data-mask-reverse="true" th:field="*{salario}"/>
	                       
								<div style="margin-top: 5px" class="alert alert-danger" role="alert"th:if="${#fields.hasErrors('salario')}">
									<label th:errors="*{salario}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="dataEntrada">Data de Entrada</label>
	                        <input type="date" class="form-control" id="dataEntrada" th:field="*{dataAdmissao}"/>
	                       
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataAdmissao')}">
									<label th:errors="*{dataAdmissao}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="dataSaida">Data de Saída</label>
	                        <input type="date" class="form-control" id="dataSaida" th:field="*{dataDesligamento}"/>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataDesligamento')}">
									<label th:errors="*{dataDesligamento}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="cargo">Cargo</label>
	                        <select id="cargo" class="form-control"  th:field = "*{cargo}">
	                            <option value="null">Selecione...</option>
	                          <option th:each = "e : ${cargos}" th:value="${e.id}"  th:text="${e.codigo +' - '+ e.nome  }"></option>
	                        </select>
	                       
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('cargo')}">
									<label th:errors="*{cargo}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="cidade">Cidade</label>
	                        <input type="text" class="form-control" id="cidade" th:field="*{endereco.cidade}"/>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.cidade')}">
									<label th:errors="*{endereco.cidade}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="logradouro">Logradouro</label>
	                        <input type="text" class="form-control" id="logradouro" placeholder="logradouro sem número"
	                               th:field="*{endereco.logradouro}"/>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.logradouro')}">
									<label th:errors="*{endereco.logradouro}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="numero">Número</label>
	                        <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"/>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.numero')}">
									<label th:errors="*{endereco.numero}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="complemento">Complemento</label>
	                        <input type="text" class="form-control" id="complemento" placeholder="fundos, casa, AP. 102, .."
	                               th:field="*{endereco.complemento}"/>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.complemento')}">
									<label th:errors="*{endereco.complemento}" class="validation-messege"></label>
								</div>
	                       
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="bairro">Bairro</label>
	                        <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"/>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.bairro')}">
									<label th:errors="*{endereco.bairro}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="uf">UF</label>
	                        <select id="uf" class="form-control" th:field="*{endereco.uf}">
	                            <option value="">Selecione...</option>
	                            <option value="AC">AC</option>
	                            <option value="AL">AL</option>
	                            <option value="AM">AM</option>
	                            <option value="BA">BA</option>
	                            <option value="CE">CE</option>
	                            <option value="DF">DF</option>
	                            <option value="ES">ES</option>
	                            <option value="GO">GO</option>
	                            <option value="MA">MA</option>
	                            <option value="MT">MT</option>
	                            <option value="MS">MS</option>
	                            <option value="MG">MG</option>
	                            <option value="PA">PA</option>
	                            <option value="PB">PB</option>
	                            <option value="PR">PR</option>
	                            <option value="PE">PE</option>
	                            <option value="PI">PI</option>
	                            <option value="RJ">RJ</option>
	                            <option value="RN">RN</option>
	                            <option value="RS">RS</option>
	                            <option value="RO">RO</option>
	                            <option value="RR">RR</option>
	                            <option value="SC">SC</option>
	                            <option value="SP">SP</option>
	                            <option value="SE">SE</option>
	                            <option value="TO">TO</option>
	                        </select>
	                        
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.uf')}">
									<label th:errors="*{endereco.uf}" class="validation-messege"></label>
								</div>
	                        
	                    </div>
	                    <div class="form-group col-md-2">
	                        <label for="cep">Cep</label>
	                        <input type="text" class="form-control" id="cep" data-mask="00000-000" th:field="*{endereco.cep}"/>
	                       
								<div style="margin-top: 5px" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco.cep')}">
									<label th:errors="*{endereco.cep}" class="validation-messege"></label>
								</div>
	                       
	                    </div>
	                </div>
	                <input type="hidden" id="id" name="id" value=""/>
	                <button style="margin-bottom: 50px" type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>		